<div class="container flex-centered">
    <div class="columns">
        <div id ='left' class="column col-2 col-md-12"> 
            {{!  the img from https://cdn.pixabay.com/photo/2018/07/23/20/00/vinyl-3557749_1280.jpg }}
            <img src="https://cdn.pixabay.com/photo/2018/07/23/20/00/vinyl-3557749_1280.jpg"  style="width:150px" alt="pic">
        </div>
        <div class="column col-9">
            <h2>Music recording website</h2>
            <p>This is used for me to record things about music, including some music, musicians, and some of my perceptions and comments about music at that time.</p>
        </div>
    </div>
</div>