<h1 class="flex-centered">Contact Us</h1>
<div class="container flex-centered">
        <!-- 联系信息部分 -->
        <div class="contact-info">
            <h2>Contact Information</h2>
            <p>School: Jönköping University</p>
            <p>Address: Jönköping, Sweden, Country</p>
            <p>Tele: 7777777</p>
            <p>Email: waji20eg@student.ju.se</p>
        </div>
</div>