<h1 class="juzhong2">Create artists</h1>

{{#if errorMessages.length}}
  <p>Couldn't create the artists because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<form action="/artists/create" method="post">
  <div class="juzhong">
    <div style="margin-bottom:5px">
      Name:
      <input type="text" name="artistName" value="{{artistName}}" />
    </div>

    <div style="margin-bottom:5px">
      Type:
      <input type="text" name="type" value="{{type}}" />
    </div>

    <input type="submit" value="Create" />
  </div>

</form>